openapi: 3.0.4
info:
  title: Instant Messaging API
  description:
    "API REST pour une messagerie instantanée avec gestion des utilisateurs, des conversations et des messages."
  version: 1.0.0
  contact:
    name: "Jérôme Frossard"
    email: jerome.frossard@epai.ch

servers:
  - url: https://message-api.n01.lab.epai-ict.ch
    description: "Production"
  - url: http://localhost:8080
    description: "Développement"

tags:
  - name: token
    description: Gestion des tokens d'authentification
  - name: user
    description: Gestion des utilisateur·rice·s 
  - name: conversation
    description: Gestion des conversations
  - name: participant
    description: Gestion des participant·e·s
  - name: message
    description: Gestion des messages

paths:
  /tokens:
    post:
      tags:
        - token
      summary: "Créer un token (connexion)."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        "200":
          description: "Token renvoyé"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /tokens/me:
    delete:
      tags:
        - token
      summary: "Supprimer le token de l'utilisateur·rice connecté·e (déconnexion). Si le token est invalide ou expiré, la requête ne produit pas d'effet."
      security:
        - BearerAuth: []
      responses:
        "204":
          description: "Token supprimé"
        "500":
          description: "Erreur interne du serveur"

  /users:
    post:
      tags:
        - user
      summary: "Créer un compte d'utilisateur·rice."
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
            examples:
              exemple1:
                summary: "Création du compte avec un email"
                value:
                  username: "trillian@infinidim.ch"
                  password: "h2G2-42"
              exemple2:
                summary: "Création du compte avec un numéro de téléphone"
                value:
                  username: "+41799991234"
                  password: "h2G2-42"
      responses:
        "201":
          description: "Le compte a été créé avec succès."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /users/{userId}:
    get:
      tags:
        - user
      summary: "Obtenir les informations d’un·e utilisateur·rice."
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1001
      responses:
        "200":
          description: "Les détails de l'utilisateur·rice."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Utilisateur·rice non trouvé·e"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Utilisateur non trouvé"
        "500":
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - user
      summary: "Modifier les informations d’un·e utilisateur·rice."
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
            examples:
              changePassword:
                summary: "Modification du mot de passe"
                value:
                  password: "h2G2-42"
              changeUsername:
                summary: "Modification du nom d'utilisateur"
                value:
                  username: "tricia@infinidim.com"
      responses:
        "200":
          description: "Les informations de l'utilisateur·rice ont été modifiées avec succès."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Utilisateur·rice non trouvé·e"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Utilisateur non trouvé"
        "500":
          $ref: '#/components/responses/InternalServerError'

  /conversations:
    get:
      tags:
        - conversation
      summary: "Récupérer les conversations dans lesquelles l'utilisateur·rice connecté est actif."
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: "Une liste paginée des conversations."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ConversationsResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "500":
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - conversation
      summary: "Créer une nouvelle conversation."
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationCreate'
            examples:
              singleParticipant:
                summary: "Avec un·e seul·e participant·e"
                value:
                  userId: 1002
              multipleParticipants:
                summary: "Avec plusieurs participant·e·s"
                value:
                  - userId: 1002
                    role: owner
                    status: active
                  - userId: 1003
      responses:
        "201":
          description: "La conversation a été créée avec succès."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ConversationsResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /conversations/{conversationId}:
    get:
      tags:
        - conversation
      summary: "Récupérer les détails d'une conversation."
      security:
        - BearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 4005
      responses:
        "200":
          description: "Les détails de la conversation."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Conversation non trouvée"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Conversation non trouvée"
        "500":
          $ref: '#/components/responses/InternalServerError'

  /conversations/{conversationId}/participants:
    get:
      tags:
        - participant
      summary: "Récupèrer la liste des participant·e·s d'une conversation."
      security:
        - BearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 4005
      responses:
        "200":
          description: "La liste des participant·e·s de la conversation."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ParticipantsResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Conversation non trouvée"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Conversation non trouvée"
        "500":
          $ref: '#/components/responses/InternalServerError'

  /conversations/{conversationId}/participants/{participantId}:
    get:
      tags:
        - participant
      summary: "Récupèrer les détails d'un·e participant·e."
      security:
        - BearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 4005
        - name: participantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1001
      responses:
        "200":
          description: "Les détails de lea participant·e."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ParticipantResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Participant·e non trouvé·e"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Participant·e non trouvé·e"
        "500":
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - participant
      summary: "Modifier le rôle ou le statut d'un·e participant·e."
      security:
        - BearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 4005
        - name: participantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantCreate'
      responses:
        "200":
          description: "Le rôle ou le statut de lea participant·e a été modifié avec succès."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ParticipantResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":  
          description: "Participant·e non trouvé·e"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Participant·e non trouvé·e"
        "500":
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - participant
      summary: "Désactiver un·e participant·e (suppression logique)."
      security:
        - BearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 4005
        - name: participantId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 1001
      responses:
        "204":
          description: "Lea participant·e a été désactivé·e avec succès (suppression logique)."
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Participant·e non trouvé·e"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Participant·e non trouvé·e"
        "500":
          $ref: '#/components/responses/InternalServerError'

  /conversations/{conversationId}/messages:
    get:
      tags:
        - message
      summary: "Récupérer les messages d'une conversation."
      security:
        - BearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 4005
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: "La liste paginée des messages de la conversation."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/MessagesResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Conversation non trouvée"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Conversation non trouvée"
        "500":
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - message
      summary: "Ajouter un message à la conversation."
      security:
        - BearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 4005
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreate'
      responses:
        "201":
          description: "Le message a été envoyé avec succès."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Conversation non trouvée"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Conversation non trouvée"
        "500":
          $ref: '#/components/responses/InternalServerError'

  /conversations/{conversationId}/messages/{messageId}:
    patch:
      tags:
        - message
      summary: "Modifier le statut du message pour le participant spécifié (par défaut l'utilisateur·rice connecté)."
      security:
        - BearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 4005
        - name: messageId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 6001
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageStatusUpdate'
      responses:
        "200":
          description: "Le statut du message a été modifié avec succès."
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                id: 6001
                senderId: 1001
                body: "J'aurai un peu de retard. Commencez sans moi"
                sentAt: "2025-04-24T15:00:00Z"
                participantStatus:
                  - userId: 1002
                    readAt: "2025-04-24T15:03:00Z"
                    deleted: false
                  - userId: 1003
                    readAt: null
                    deleted: false
                _links:
                  self:
                    href: /conversations/4005/message/6001
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Conversation ou message non trouvée"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Conversation ou message non trouvée"
        "500":
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - message
      summary: "Marquer un message comme étant supprimé (suppression logique)."
      security:
        - BearerAuth: []
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: messageId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: "Le message a été marqué comme supprimé (suppression logique)."
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          description: "Conversation ou message non trouvé"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 404
                message: "Conversation ou message non trouvé"
        "500":
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

    # Basic types
    # These are used to define the basic types used in the API

    EmailType:
      type: string
      format: email

    PhoneNumberType:
      description: "Numéro de téléphone au format E.164."
      type: string
      pattern: ^\+?[1-9]\d{1,14}$

    UserNameType:
      oneOf:
        - $ref: '#/components/schemas/EmailType'
        - $ref: '#/components/schemas/PhoneNumberType'

    # Hal types
    # These are used to represent the HAL links in the API responses

    HalLinks:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string

    HalCollectionLinks:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
        first:
          type: object
          properties:
            href:
              type: string
        last:
          type: object
          properties:
            href:
              type: string
        next:
          type: object
          properties:
            href:
              type: string
        prev:
          type: object
          properties:
            href:
              type: string

    PageMetadata:
      type: object
      properties:
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
        number:
          type: integer
      example:
        size: 20
        totalElements: 1
        totalPages: 1
        number: 0

    # User types
    # These are used to represent the users in the API

    UserCreate:
      type: object
      required:
        - username
        - password
      properties:
        username:
          $ref: '#/components/schemas/UserNameType'
        password:
          type: string
    UserUpdate:
      type: object
      properties:
        username:
          $ref: '#/components/schemas/UserNameType'
        password:
          type: string
    UserResponse:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        username:
          $ref: '#/components/schemas/UserNameType'
        _links:
          $ref: '#/components/schemas/HalLinks'
      example:
        userId: 1001
        username: "trillian@infinidim.com"
        _links:
          self:
            href: /users/1001
    TokenRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          $ref: '#/components/schemas/UserNameType'
        password:
          type: string
      example:
        username: "trillian@infinidim.com"
        password: "h2G2-42"
    TokenResponse:
      type: object
      properties:
        token:
          type: string
      example:
        token: "eyJhbGciOiJSUzI1NiIsInR5..."

    # Participant types
    # These are used to represent the participants in a conversation

    ParticipantRoleType:
      type: string
      enum:
        - owner
        - member

    ParticipantStatusType:
      type: string
      enum:
        - active
        - inactive
        - invited
        - blocked

    ParticipantCreateFromUserId:
      type: object
      required:
        - userId
      properties:
        userId:
          type: integer
          format: int64
        role:
          $ref: '#/components/schemas/ParticipantRoleType'
        status:
          $ref: '#/components/schemas/ParticipantStatusType'
      example:
        userId: 1001
        role: owner
        status: active

    ParticipantCreateFromUsername:
      type: object
      required:
        - username
      properties:
        username:
          $ref: '#/components/schemas/UserNameType'
        role:
          $ref: '#/components/schemas/ParticipantRoleType'
        status:
          $ref: '#/components/schemas/ParticipantStatusType'
      example:
        username: "trillian@infinidim.ch"
        role: owner
        status: active

    ParticipantCreate:
      oneOf:
        - $ref: '#/components/schemas/ParticipantCreateFromUserId'
        - $ref: '#/components/schemas/ParticipantCreateFromUsername'

    ParticipantUpdate:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/ParticipantRoleType'
        status:
          $ref: '#/components/schemas/ParticipantStatusType'
      example:
        role: member
        status: active

    ParticipantResponse:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        username:
          $ref: '#/components/schemas/UserNameType'
        role:
          $ref: '#/components/schemas/ParticipantRoleType'
        status:
          $ref: '#/components/schemas/ParticipantStatusType'
        _links:
          $ref: '#/components/schemas/HalLinks'

      example:
        userId: 1001
        username: "trillian@infinidim.ch"
        role: owner
        status: active
        _links:
          self:
            href: /conversations/4005/participants/1001

    ParticipantsResponse:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            participants:
              type: array
              items:
                $ref: '#/components/schemas/ParticipantResponse'
        _links:
          $ref: '#/components/schemas/HalLinks'
      example:
        _embedded:
          participants:
            - userId: 1001
              username: "trillian@infinidim.ch"
              role: owner
              status: active
              _links:
                self:
                  href: /conversations/4005/participants/1001
            - userId: 1002
              username: "+41799991234"
              role: member
              status: active
              _links:
                self:
                  href: /conversations/4005/participants/1002
        _links:
          self:
            href: /conversations/4005/participants

    # Conversation types
    # These are used to represent the conversations in the API

    ConversationCreateSingle:
      type: object
      oneOf:
        - type: object
          required:
            - userId
          properties:
            userId:
              type: integer
              format: int64
          example:
            userId: 1002
        - type: object
          required:
            - username
          properties:
            username:
              $ref: '#/components/schemas/UserNameType'
          example:
            username: "trillian@infinidim.ch"

    ConversationCreateMultiple:
      type: object
      properties:
        participants:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantCreate'
          minItems: 1
      example:
        participants:
          - userId: 1002
            role: owner
            status: active
          - userId: 1003

    ConversationCreate:
      oneOf:
        - $ref: '#/components/schemas/ConversationCreateSingle'
        - $ref: '#/components/schemas/ConversationCreateMultiple'

    ConversationResponse:
      allOf:
        - type: object
          properties:
            id:
              type: integer
              format: int64
            _links:
              allOf:
                - $ref: '#/components/schemas/HalLinks'
                - type: object
                  properties:
                    messages:
                      type: object
                      properties:
                        href:
                          type: string
        - $ref: '#/components/schemas/ParticipantsResponse'
      example:
        id: 4005
        _embedded:
          participants:
            - userId: 1001
              username: "trillian@infinidim.ch"
              role: owner
              status: active
              _links:
                self:
                  href: /conversations/4005/participants/1001
            - userId: 1002
              username: "+41799991234"
              role: member
              status: active
              _links:
                self:
                  href: /conversations/4005/participants/1002
        _links:
          self:
            href: /conversations/4005
          messages:
            href: /conversations/4005/messages
          participants:
            href: /conversations/4005/participants

    ConversationsResponse:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            conversations:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  _embedded:
                    type: object
                    properties:
                      participants:
                        $ref: '#/components/schemas/ParticipantResponse'
                  _links:
                    allOf:
                      - $ref: '#/components/schemas/HalLinks'
                      - type: object
                        properties:
                          messages:
                            type: object
                            properties:
                              href:
                                type: string
        page:
          $ref: '#/components/schemas/PageMetadata'
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
      example:
        _embedded:
          conversations:
            - id: 4005
              _links:
                self:
                  href: /conversations/4005
                messages:
                  href: /conversations/4005/messages
              _embedded:
                participants:
                  - userId: 1001
                    username: "trillian@infinidim.ch"
                    role: owner
                    status: active
                    _links:
                      self:
                        href: /conversations/4005/participants/1001
                  - userId: 1002
                    username: "+41799991234"
                    role: member
                    status: active
                    _links:
                      self:
                        href: /conversations/4005/participants/1002
        page:
          size: 20
          totalElements: 1
          totalPages: 1
          number: 0
        _links:
          self:
            href: /conversations
          first:
            href: /conversations?page=0
          next:
            href: /conversations?page=1
          last:
            href: /conversations?page=10

    # Message types
    # These are used to represent the messages in the API

    MessageCreate:
      type: object
      required:
        - body
      properties:
        body:
          type: string
      example:
        body: "J'aurai un peu de retard. Commencez sans moi."

    MessageResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        senderId:
          type: integer
          format: int64
        body:
          type: string
        sentAt:
          type: string
          format: date-time
        status:
          type: array
          items:
            type: object
            properties:
              userId:
                type: integer
                format: int64
              readAt:
                type: string
                format: date-time
              deleted:
                type: boolean
        _links:
          $ref: '#/components/schemas/HalLinks'
      example:
        id: 6001
        senderId: 1001
        body: "J'aurai un peu de retard. Commencez sans moi"
        sentAt: "2025-04-24T15:00:00Z"
        participantStatus:
          - userId: 1002
            readAt: null
            deleted: false
          - userId: 1003
            readAt: null
            deleted: false
        _links:
          self:
            href: /conversations/4005/message/6001

    MessagesResponse:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/HalLinks'
        _embedded:
          type: object
          properties:
            messages:
              type: array
              items:
                $ref: '#/components/schemas/MessageResponse'
        page:
          $ref: '#/components/schemas/PageMetadata'
      example:
        _embedded:
          messages:
            - id: 6001
              senderId: 1001
              body: "J'aurai un peu de retard. Commencez sans moi"
              sentAt: "2025-04-24T15:00:00Z"
              participantStatus:
                - userId: 1002
                  readAt: "2025-04-24T15:01:00Z"
                  deleted: false
                - userId: 1003
                  readAt: null
                  deleted: false
              _links:
                self:
                  href: /conversations/4005/messages/6001
        _links:
          self: /conversations/4005/messages
        page:
          size: 20
          totalElements: 1
          totalPages: 1
          number: 0

    MessageStatusUpdate:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        readAt:
          type: string
          format: date-time
      example:
        userId: 1002
        readAt: "2025-04-24T15:03:00Z"

    MessageStatusResponse:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/HalLinks'
        _embedded:
          type: object
          properties:
            message:
              $ref: '#/components/schemas/MessageResponse'
      example:
        _links:
          self:
            href: /conversations/4005/messages/6001/status
        _embedded:
          message:
            id: 6001
            senderId: 1001
            body: "J'aurai un peu de retard. Commencez sans moi"
            sentAt: "2025-04-24T15:00:00Z"
            participantStatus:
              - userId: 1002
                readAt: "2025-04-24T15:01:00Z"
                deleted: false
              - userId: 1003
                readAt: null
                deleted: false

  responses:
    BadRequest:
      description: "Requête invalide"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: "Requête invalide"

    Unauthorized:
      description: "Non autorisé"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: "Identifiants de connexion non valides."
    
    Forbidden:
      description: "Accès refusé"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: "Accès refusé"

    InternalServerError:
      description: "Erreur interne du serveur"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 500
            message: "Erreur interne du serveur"